<h1><%= @registered_application.name %></h1>
<div class="row">
  <div class="col-md-8">
    <h3> <%= @registered_application.url %>
    <%= link_to "Remove Registration", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to remove this app from registration?'} %> </h3>

      <p> <%= pie_chart @registered_application.events.group(:name).count %> </p>
      <p> <%= line_chart @registered_application.events.group_by_day(:created_at).count %></p>

  </div>

</div>
